<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Title</title>


</head>
<script type="text/javascript" src="/static/buttons.js"></script>
<script>
var JSON_data = {{ data | tojson | safe}};
</script>
<body>
    <table id="navbar">
        <tr>
            <th class="navbaritems"><button onclick="home()">Home</button></th>
            <!--<th class="navbaritems"><button onclick="skills(JSON_data)">skills</button></th>-->
            <th class="navbaritems"><button onclick="projects(JSON_data)">Projects</button></th>
            <th class="navbaritems"><button onclick="about(JSON_data)">About me</button></th>
        </tr>
    </table>


    <div id="full-width">
        <span class="center firstiteam" id ="main_img_span"><img class="img_projects" src="../static/img/me.jpg" style="object-fit:cover"></span>
        <span class="center seconditeam">My name is Matthew Mayson.Welcome to my portfolio</span>
        <div id="footer" style="color: transparent">test</div>
    </div>

<script>
    // When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
</body>

</html>